@import url("https://fonts.googleapis.com/css2?family=Kenia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$fontOne: "Kenia", sans-serif;
$fontTwo: "Roboto", sans-serif;
$fontThree: "Rowdies", sans-serif;
$fontFour: "Caveat", cursive;

// color: #31363d;

body {
  padding: 0;
  margin: 0;
  position: relative;
  background: linear-gradient(#232932, #2c3138, #232932);
}

// animation button
.open-Close-Btn {
  height: 40px;
  width: 40px;
  right: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  padding: none;
  margin: none;
  z-index: 111;
  position: fixed;

  .bar-One,
  .bar-Two {
    position: relative;
    padding: none;
    margin: none;
    width: 100%;
    height: 2px;
    background-color: snow;
    display: block;
    transition: all 300ms;
  }

  .bar-One.active {
    position: absolute;
    transform: rotate(45deg);
    width: 90%;
    height: 3px;
  }

  .bar-Two.active {
    position: absolute;
    transform: rotate(-45deg);
    width: 90%;
    height: 3px;
  }
}

// navbar
.navbar {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: start;
  background-color: #31363c;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  transition: all 1000ms ease-in-out;

  .decoration-Bar {
    height: 100%;
    width: 25%;
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .cercle-One {
      width: 45px;
      height: 45px;
      background-color: #1d222a;
      border: solid snow 1px;
      border-radius: 50%;
    }

    .line-El {
      height: 60%;
      width: 1px;
      background-color: #1d222a;
      border: solid snow 1px;
      border-top: none;
      border-bottom: none;
    }

    .cercle-Two {
      width: 45px;
      height: 45px;
      background-color: #1d222a;
      border: solid snow 1px;
      border-radius: 50%;
    }
  }

  .nav-Links {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;

    ul {
      width: 100%;
      height: 80%;
      padding: none;
      margin: none;
      text-align: start;
      align-items: start;
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: center;

      li {
        padding: 1rem;
        transition: all 100ms;

        a {
          font-size: 25px;
          text-decoration: none;
          font-family: $fontThree;
          font-weight: 600;
          color: white;
          transition: all 440ms;
        }

        a:hover {
          font-size: 25px;
          text-decoration: none;
          font-family: $fontThree;
          font-weight: 600;
          color: rgb(174, 202, 255);
        }
      }
    }
  }
}

.navbar.active {
  transform-origin: right top;
  width: 100%;
  transform: rotate(-150deg);
  transform: translateX(110%);
}

//  navbar Responsvness
@media screen and (max-width: 768px) {
  .navbar {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  // Styles for large screens (e.g., laptops)
}

@media screen and (min-width: 1200px) {
  // Styles for extra-large screens (e.g., large desktops)
}

// header
.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  .header-Top-Wrap {
    display: flex;
    height: 15%;
    width: 95%;
    text-align: center;
    align-items: center;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;

    .logo {
      .logo-T-One {
        font-family: $fontTwo;
        font-weight: 900;
        font-size: 3.5rem;
        outline: none;
        text-decoration: none;
        color: #fff;
      }

      .logo-T-Two {
        font-family: $fontFour;
        font-weight: 100;
        font-size: 3.5rem;
        color: #29a587;
      }
    }
  }

  .header-Top-Mid {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;

    .left-banner {
      width: 10%;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;

      .cercle-One {
        width: 35px;
        height: 35px;
        background-color: #1d222a;
        border: solid snow 1px;
        border-radius: 50%;
      }

      .line-El {
        height: 85%;
        width: 0;
        background-color: #1d222a;
        border: solid snow 1px;
        border-top: none;
        border-bottom: none;
      }

      .cercle-Two {
        width: 35px;
        height: 35px;
        background-color: #1d222a;
        border: solid snow 1px;
        border-radius: 50%;
      }
    }

    .mid-banner {
      width: 50%;
      display: flex;
      height: 90%;
      flex-direction: column;
      text-align: center;
      align-items: center;

      .information-Wrap {
        display: flex;
        height: 100%;
        width: 100%;
        text-align: start;
        align-items: start;
        flex-direction: column;
        justify-content: flex-start;

        .title-Text {
          font-size: 20px;
          font-family: $fontTwo;
          font-weight: 900;
          display: flex;
          gap: 10px;
          text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          text-decoration: none;
          outline: none;

          .title-Span-One {
            color: #29a587;
            font-family: "Rowdies", sans-serif;
          }

          .title-Span-Two {
            font-family: "Rowdies", sans-serif;
            color: white;
          }
        }

        .title-Name {
          display: flex;
          gap: 15px;

          .first-Name,
          .Second-Name {
            font-size: 6rem;
            color: #fff;
            text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            outline: none;
            font-weight: 900;
            font-family: "Rowdies", sans-serif;
          }

          .Second-Name {
            color: #29a587;
          }
        }

        .text-Two {
          font-family: $fontFour;
          font-size: 2rem;
          color: white;
          text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          text-decoration: none;
          outline: none;
        }

        .text-Par {
          font-family: $fontFour;
          font-size: 1.5rem;
          color: rgb(156, 153, 153);
        }

        .social-Buttons {
          display: flex;
          flex-direction: row;
          text-align: center;
          align-items: center;

          a {
            i {
              font-size: 2rem;
              color: white;
              margin: 1rem;
              transition: all 150ms;
            }

            i:hover {
              font-size: 2rem;
              color: rgb(167, 165, 165);
              margin: 1rem;
            }
          }
        }

        .cv-Btn-Down {
          display: flex;
          flex-direction: row;
          text-align: center;
          align-items: center;
          padding-left: 25px;

          .down-Btn {
            padding: 15px 30px;
            border-radius: 2rem;
            background-color: transparent;
            border: solid snow 2px;
            color: snow;
            font-weight: 900;
            overflow: hidden;
            transition: all 140ms ease-in-out;
            animation-delay: 500ms;
            font-family: $fontTwo;
            position: relative;
            content: "";

            &::after {
              content: "";
              display: block;
              position: absolute;
              z-index: -1;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              height: 100%;
              width: 100%;
              border-radius: 5rem;
              background-color: #29a587;
              animation-name: downBtnBefore;
              animation-duration: 1s;
              animation-fill-mode: both;
              animation-direction: alternate;
            }

            &:hover {
              cursor: pointer;

              &::after {
                content: "";
                height: 5%;
                width: 5%;
                background-color: #29a587;
                animation-name: downBtnAfter;
              }
            }
          }

          .line-Decoration {
            width: 40px;
            height: 3px;
            display: block;
            background-color: snow;
            margin-right: 12px;
          }

          .text-Btn-Last {
            font-family: $fontThree;
            color: snow;
          }
        }
      }
    }

    .right-Banner {
      width: 50%;
      height: 100%;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      .img-Text-Circle {
        height: 100%;
        width: 100%;
        border-radius: 10%;
        overflow: hidden;
        background-color: #29a587;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: -1;
        background-image: url("./assets/developer-img.png");
        background-position: center;
        background-repeat: none;
        background-size: cover;
      }

      .text-Cont-1,
      .text-Cont-2 {
        position: absolute;
        z-index: -1;
        border: solid snow 2px;
        border-radius: 5rem;
        font-family: $fontTwo;
        display: flex;
        height: 75px;
        background-color: #232932;
        color: #29a587;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 0;
        margin: 0;

        h3 {
          width: 50%;
          color: white;
          font-size: 2rem;
          padding: 0;
          margin: 0;
        }

        h4 {
          padding: 0;
          margin: 0;
          width: 50%;
        }
      }

      .text-Cont-1 {
        left: 65px;
        top: 35%;
        z-index: -1;
      }

      .text-Cont-2 {
        right: 150px;
        top: 75%;
        z-index: -1;
      }
    }
  }

  .header-Top-Bottom {
    height: 20%;
    width: 90%;
    position: relative;

    .bottom-Text {
      font-size: 15rem;
      position: absolute;
      top: -100%;
      left: 0%;
      z-index: -19;
      font-family: $fontFour;
      color: #31383b;
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  @keyframes downBtnBefore {
    to {
      height: 0%;
      width: 0%;
      border-radius: 0%;
    }
  }

  @keyframes downBtnAfter {
    to {
      height: 100%;
      width: 100%;
      border-radius: 0%;
    }
  }
}

//  header Responsvness

@media screen and (max-width: 1350px) {
  // header
  .header {
    .header-Top-Wrap {
      .logo {
        .logo-T-One {
          font-size: 3rem;
        }

        .logo-T-Two {
          font-size: 3rem;
        }
      }
    }

    .header-Top-Mid {
      .mid-banner {
        .information-Wrap {
          .title-Text {
            font-size: 15px;
          }

          .title-Name {
            display: flex;
            gap: 10px;

            .first-Name,
            .Second-Name {
              font-size: 4rem;
            }
          }
        }
      }

      .right-Banner {
        width: 50%;
        height: 100%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        .img-Text-Circle {
          height: 100%;
          width: 100%;
          border-radius: 10%;
          overflow: hidden;
          background-color: #29a587;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          z-index: -1;
          background-image: url("./assets/developer-img.png");
          background-position: center;
          background-repeat: none;
          background-size: cover;
        }

        .text-Cont-1,
        .text-Cont-2 {
          height: 50px;
          width: 200px;

          h3 {
            width: 50%;
            color: white;
            font-size: 1rem;
            padding: 0;
            margin: 0;
          }

          h4 {
            font-size: 11px;
            padding: 0;
            margin: 0;
            width: 50%;
          }
        }

        .text-Cont-1 {
          left: 15px;
          top: 35%;
          z-index: -1;
        }

        .text-Cont-2 {
          right: 50px;
          top: 75%;
          z-index: -1;
        }
      }
    }

    .header-Top-Bottom {
      height: 20%;
      width: 90%;
      position: relative;

      .bottom-Text {
        font-size: 8rem;
        top: 0%;
        left: 0%;
      }
    }
  }
}

@media screen and (max-width: 868px) {
  // header
  .header {
    .header-Top-Wrap {
      .logo {
        .logo-T-One {
          font-size: 2rem;
        }

        .logo-T-Two {
          font-size: 2rem;
        }
      }
    }

    .header-Top-Mid {
      .mid-banner {
        width: 100%;

        p {
          max-width: 70%;
        }

        .information-Wrap {
          .title-Text {
            font-size: 15px;
          }

          .title-Name {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .first-Name,
            .Second-Name {
              font-size: 2.5rem;
              padding: 0;
              margin: 0;
            }
          }

          .cv-Btn-Down {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            padding-left: 25px;

            .down-Btn {
              padding: 15px 30px;
              border-radius: 2rem;
              background-color: transparent;
              border: solid snow 2px;
              color: snow;
              font-weight: 900;
              overflow: hidden;
              transition: all 140ms ease-in-out;
              animation-delay: 500ms;
              font-family: $fontTwo;
              position: relative;
              content: "";
            }

            .line-Decoration {
              display: none;
            }

            .text-Btn-Last {
              display: none;
            }
          }
        }
      }

      .right-Banner {
        display: none;
      }
    }

    .header-Top-Bottom {
      height: 25%;
      width: 90%;
      position: relative;

      .bottom-Text {
        font-size: 4rem;
        top: 0%;
        left: 0%;
      }
    }
  }
}
//  skills

.skills {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: clamp(500px, 100%, 1000px);
  margin-top: 5rem;

  .left-Deco-Skills {
    width: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 800px;

    .skills-Cercle-One {
      width: 35px;
      height: 35px;
      background-color: #1d222a;
      border: solid snow 1px;
      border-radius: 50%;
    }

    .skills-Line-El {
      height: 100%;
      width: 0;
      background-color: #1d222a;
      border: solid snow 1px;
      border-top: none;
      border-bottom: none;
    }

    .skills-Cercle-Two {
      width: 35px;
      height: 35px;
      background-color: #1d222a;
      border: solid snow 1px;
      border-radius: 50%;
    }
  }

  .right-Skill-Skills {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 80%;
    height: 100%;

    .titles-Skills {
      height: 20%;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;

      .skills-Text-One {
        font-family: $fontThree;
        font-size: 4rem;
        color: white;
        padding: 0;
        margin: 0;
      }

      .skills-Text-Two {
        padding: 0;
        margin: 0;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 25%;

        .text-Skills-2-1 {
          font-size: 2rem;
          font-family: $fontTwo;
          font-weight: 900;
          color: white;
          padding: 0;
          margin: 0;
        }

        .text-Skills-2-2 {
          font-size: 3rem;
          font-family: $fontFour;
          font-weight: 900;
          color: #29a587;
          padding: 0;
          margin: 0;
        }
      }
    }

    .skills-Cards-Wrap {
      height: 80%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      align-items: start;
      justify-content: center;
      margin-top: 2rem;
      gap: 5rem;

      .skills-Card {
        width: 500px;
        height: 300px;

        .name-Lang-Num {
          display: flex;
          flex-direction: row;
          height: 25%;
          width: 100%;
          justify-content: space-between;
          text-align: center;
          align-items: center;

          .skills-Name {
            font-size: 1.3rem;
            font-family: $fontTwo;
            color: white;
          }

          .skills-Num {
            font-family: $fontFour;
            font-size: 2rem;
            padding: 0;
            margin: 0;
            color: #29a587;
          }
        }

        .skills-P {
          color: white;
          font-weight: 300;
          font-family: $fontFour;
        }
      }

      .skills-Range-Wrap {
        height: 25%;
        width: 100%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .skills-Range {
          width: 90%;
          height: 3px;
          background-color: #1d222a;
          border-radius: 1rem;

          .skills-Range-Fill {
            background-color: #29a587;
            width: 90%;
            position: relative;
            height: 100%;

            .skills-Range-Circile {
              height: 30px;
              width: 30px;
              border-radius: 50%;
              background-color: #1d222a;
              border: solid #29a587 2px;
              position: absolute;
              right: 0;
              bottom: -500%;
            }
          }

          .skills-Range-Fill.Css {
            width: 85%;
          }

          .skills-Range-Fill.Scss {
            width: 60%;
          }

          .skills-Range-Fill.JavaScript {
            width: 55%;
          }

          .skills-Range-Fill.TypeScript {
            width: 35%;
          }

          .skills-Range-Fill.Tools {
            width: 50%;
          }
        }
      }
    }
  }
}

//  skills responsvness

@media screen and (max-width: 1000px) {
  .skills {
    .left-Deco-Skills {
      height: 2050px;
    }

    .right-Skill-Skills {
      .titles-Skills {
        .skills-Text-One {
          font-size: 2rem;
        }

        .skills-Text-Two {
          .text-Skills-2-1 {
            font-size: 1rem;
          }

          .text-Skills-2-2 {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .skills {
    .left-Deco-Skills {
      height: 2300px;

      .skills-Line-El {
        height: 100%;
      }

      .right-Skill-Skills {
        .skills-Cards-Wrap {
          .skills-Card {
            width: 400px;
            height: 270px;
          }
        }
      }
    }
  }
}

//  projects
.projects {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  // height: 100vh;
  height: clamp(500px, 100%, 5000px);
  margin-top: 5rem;

  .left-Projects-Wrap {
    width: 70%;
    height: 100%;

    .projects-Titles {
      width: 100%;
      height: 20%;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .projects-Text-1 {
        font-family: $fontThree;
        font-size: 5.5rem;
        color: #fff;
        padding: 0;
        margin: 0;
      }

      .projects-Text-2 {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        margin: 0;
        gap: 5px;

        .P-T-1-2 {
          font-family: $fontThree;
          color: white;
          font-size: 2rem;
          padding: 0;
          margin: 0;
        }

        .P-T-2-2 {
          font-family: $fontFour;
          color: #29a587;
          font-size: 3rem;
          padding: 0;
          margin: 0;
        }
      }
    }

    .Projects-Wrap {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 2rem;

      .project-Card {
        background-color: #1d222a;
        height: 700px;
        width: 410px;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;
        flex-wrap: wrap;
        gap: 5px;
        border-radius: 1rem;
        justify-content: space-evenly;
        padding: 10px;
        margin: 5px;

        .project-Img-Wrap {
          height: 35%;
          width: 100%;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          border-radius: 1rem;
          transition: all 250ms;
          cursor: pointer;

          .project-Img {
            transition: all 250ms;
            position: relative;
            user-select: none;
          }

          &:hover {
            .project-Img {
              transform: scale(1.1);
            }
          }
        }

        .project-P-Lang {
          padding: 0;
          margin: 0;
          text-align: start;
          align-items: start;
          color: #29a587;
          font-family: $fontThree;
          font-weight: 300;
        }

        .project-Name-Title {
          padding: 0;
          margin: 0;
          text-align: start;
          align-items: start;
          color: #fff;
          font-family: $fontThree;
          font-weight: 300;
          font-size: 2rem;
        }

        .project-P-Text {
          color: #fff;
          font-family: $fontFour;
          font-size: 1.7rem;
        }
      }

      .project-Btn-Wrap {
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;
        justify-content: space-evenly;
        gap: 10px;

        .see-Project-Wrap,
        .see-Code-Wrap {
          transition: all 500ms;
          cursor: pointer;

          .see-Code-Wrap-A {
            margin: 5px;
            font-family: $fontThree;
            color: #fff;
            font-size: 1.3rem;
            text-decoration: none;
            transition: all 200ms;
          }

          #see-Code-Wrap-I {
            transition: all 200ms;
            color: #29a587;
          }
        }

        .see-Project-Wrap:hover {
          .see-Code-Wrap-A {
            color: #fff;
            color: #29a587;
          }

          #see-Code-Wrap-I {
            transition: all 200ms;
            color: #fff;
            margin-left: 15px;
          }
        }

        .see-Code-Wrap:hover {
          .see-Code-Wrap-A {
            color: #fff;
            color: #29a587;
          }

          #see-Code-Wrap-I {
            transition: all 200ms;
            color: #fff;
            margin-left: 15px;
          }
        }
      }
    }

    .view-More-Btn-Wrap {
      width: 100%;
      height: 100px;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;

      .view-More-Btn {
        cursor: pointer;
        margin: 1rem;
        padding: 15px 60px;
        background-color: transparent;
        color: #29a587;
        border: solid #29a587 4px;
        border-radius: 5rem;
        font-family: $fontThree;
        font-size: 1rem;
        transition: all 150ms;

        &:hover {
          background-color: #29a587;
          color: #1d222a;
          transform: scale(1.1);
        }

        &:active {
          background-color: #1d222a;
          color: #29a587;
          transform: scale(0.9);
        }
      }
    }
  }

  .Projects-Decoration-Bar {
    height: 1400px;
    width: 25%;
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .Projects-Cercle-One {
      width: 45px;
      height: 45px;
      background-color: #1d222a;
      border: solid snow 1px;
      border-radius: 50%;
    }

    .Projects-Line-El {
      height: 100%;
      width: 1px;
      background-color: #1d222a;
      border: solid snow 1px;
      border-top: none;
      border-bottom: none;
    }

    .Projects-Cercle-Two {
      width: 45px;
      height: 45px;
      background-color: #1d222a;
      border: solid snow 1px;
      border-radius: 50%;
    }
  }
}

//  project responsvness

@media screen and (max-width: 768px) {
  .projects {
    width: 100%;

    .left-Projects-Wrap {
      .projects-Titles {
        .projects-Text-1 {
          font-size: 2.5rem;
        }

        .projects-Text-2 {
          gap: 5px;

          .P-T-1-2 {
            font-size: 1.5rem;
          }

          .P-T-2-2 {
            font-size: 2rem;
          }
        }
      }

      .Projects-Wrap {
        gap: 1rem;
        margin-top: 1rem;

        .project-Card {
          background-color: #1d222a;
          height: 600px;
          width: 300px;
          padding: 5px;
          margin: 5px;

          .project-Img-Wrap {
            border-radius: 1rem;
          }

          .project-P-Text {
            font-size: 1rem;
          }
        }

        .project-Btn-Wrap {
          gap: 5px;

          .see-Project-Wrap,
          .see-Code-Wrap {
            .see-Code-Wrap-A {
              margin: 5px;
              font-size: 0.7rem;
            }
          }
        }
      }

      .view-More-Btn-Wrap {
        .view-More-Btn {
          font-size: 1rem;
        }
      }
    }

    .right-Projects-Wrap {
      width: 10%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: flex-end;

      .Projects-Decoration-Bar {
        height: 1000px;
        width: 10%;
        margin: 5px;
      }
    }
  }
}
